/node_modules
/public/hot
/public/css/app.css
/public/storage
/public/adminer.php
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/*
.composer/
/docsam/*
.idea
error.log
composer.phar
storage/proxies/*
public/mix-manifest.json
resources/spa/services/constants/Env.ts
deployer.phar
